* {
    box-sizing: border-box;
}

body {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    display: flex;
    color: bisque;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
    border: 5px solid rebeccapurple;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
    border: 5px solid rebeccapurple;
    margin-right: 5px;
}

.countdown-el span {
    font-size: 1.3rem;
}
.input-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rebeccapurple;
    height: 100px;
    width:max-content;
    min-width: 100px;
}
input:hover{
    box-shadow: 3px 3px 5px 0px grey;
}

.input::placeholder {
    color: #7f5a83;
}