
body {
    background-image: url(./res/bc.jpg);
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0;
}


h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
    
}
.event-name{
    visibility: hidden;
}



.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    visibility: hidden;
    
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
   
    margin-right: 5px;
}

.countdown-el span {
    font-size: 1.3rem;
}
.input-container{
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
    width: 35%;
}
.event, .eventDateLabel, .submitbtn, .dateIn{
    margin-top: 10px;

}

input:hover{
    box-shadow: 3px 3px 5px 0px grey;
}

